<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>Cadastrar</h3>
		<form action="Cadastro" method="post">
			USUARIO: <input type="text" name="usuario"> 
			<br>
			* para a senha, escolha apenas numeros
			<br>
			SENHA: <input type="password" name="senha"> 
			<br>
			CONFIRMAR SENHA: <input type="password" name="confirmarsenha"> 
			<br>
			<input type="submit" name="cadastro" value="CADASTRAR">
		</form>
		<h3> ---------------- Caso já tenha cadastro ----------------- </h3>
		<h3>Login</h3>
		<form action='Login' method='post'>
			USUARIO: <input type='text' name='usuariologin'> 
			<br>
			SENHA: <input type='password' name='senhalogin'> 
			<br>
			<input type='submit' name='login' value='LOGIN'>
		</form>
</body>
</html>